# Xcode
.DS_Store
xcuserdata/
*.xcworkspace/
*.xcuserstate
*.xccheckout
*.xcodeproj/project.xcworkspace/

# Swift Package Manager
/.swiftpm
/.build
Package.resolved

# CocoaPods
Pods/
*.lock
podfile.lock

# Carthage
Carthage/
Carthage/Build/

# Derived Data & Build Artifacts
DerivedData/
*.app
*.ipa
*.dSYM
*.xcarchive
*.xcconfig

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Firebase
GoogleService-Info.plist

# Environment Variables
.env

# Logs
*.log
*.xcdebugger

# Temporary & Misc Files
*.swp
*.swo
*.sublime*
*.bak
*.orig

# Editor-Specific Files
.idea/
.vscode/