name: CI

on:
  push:
    branches:
      - main  
  pull_request:

jobs:
  build-xcode:
    name: Build with xcodebuild on Xcode
    runs-on: macos-26
    strategy:
      matrix:
        platforms: [
          'generic/platform=ios',
          'generic/platform=tvos',
          'generic/platform=watchos',
          'generic/platform=visionos'
        ]
      fail-fast: false
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Select Xcode Version
        run: sudo xcode-select --switch /Applications/Xcode_26.2.app/Contents/Developer
      - name: Build Framework
        run: xcrun xcodebuild build -scheme ImperativeNavigation -destination ${{ matrix.platforms }}

  test-unit:
    name: Run Unit Tests
    runs-on: macos-26
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Select Xcode Version
        run: sudo xcode-select --switch /Applications/Xcode_26.2.app/Contents/Developer
      - name: Run Unit Tests on iOS Simulator
        run: |
          xcodebuild test \
            -scheme ImperativeNavigation \
            -destination 'platform=iOS Simulator,name=iPhone 17,OS=26.2' \
            -only-testing ImperativeNavigationTests

  test-integration:
    name: Run Integration Tests
    runs-on: macos-26
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Select Xcode Version
        run: sudo xcode-select --switch /Applications/Xcode_26.2.app/Contents/Developer
      - name: Run Integration Tests on iOS Simulator
        run: |
          xcodebuild test \
            -scheme ImperativeNavigation \
            -destination 'platform=iOS Simulator,name=iPhone 17,OS=26.2' \
            -only-testing ImperativeNavigationIntegrationTests